MONGODB_URI=mongodb+srv://edwinvakkachan_db_user:Lbp1vQaousml1pA0@homelab.0yflsh9.mongodb.net
MEDIA_HOST_PATH=/srv/dev-disk-by-uuid-71f50e81-4a2b-4a69-a58f-76d579bd27f6/1tb/App/tubearchivist/media
REGENERATE_NFO=true